<a href="https://colab.research.google.com/github/UdayDhanush/Projects_Data_Analytics/blob/main/Project_4_fish.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
fish = pd.read_csv('https://github.com/YBIFoundation/Dataset/raw/main/Fish.csv')

In [3]:
fish.head()

   Category Species  Weight   Height   Width  Length1  Length2  Length3
0         1   Bream   242.0  11.5200  4.0200     23.2     25.4     30.0
1         1   Bream   290.0  12.4800  4.3056     24.0     26.3     31.2
2         1   Bream   340.0  12.3778  4.6961     23.9     26.5     31.1
3         1   Bream   363.0  12.7300  4.4555     26.3     29.0     33.5
4         1   Bream   430.0  12.4440  5.1340     26.5     29.0     34.0

In [4]:
fish.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  159 non-null    int64
 1   Species   159 non-null    object
 2   Weight    159 non-null    float64
 3   Height    159 non-null    float64
 4   Width     159 non-null    float64
 5   Length1   159 non-null    float64
 6   Length2   159 non-null    float64
 7   Length3   159 non-null    float64
dtypes: float64(6), int64(1), object(1)
memory usage: 10.1+ KB

In [6]:
fish.describe()

,Category,Weight,Height,Width,Length1,Length2,Length3
count,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000
mean,3.264151,398.326415,8.970994,4.417486,26.247170,28.415723,31.227044
std,1.704249,357.978317,4.286208,1.685804,9.996441,10.716328,11.610246
min,1.000000,0.000000,1.728400,1.047600,7.500000,8.400000,8.800000
25%,2.000000,120.000000,5.944800,3.385650,19.050000,21.000000,23.150000
50%,3.000000,273.000000,7.786000,4.248500,25.200000,27.300000,29.400000
75%,4.500000,650.000000,12.365900,5.584500,32.700000,35.500000,39.650000
max,7.000000,1650.000000,18.957000,8.142000,59.000000,63.400000,68.000000

In [7]:
fish.columns

Index(['Category', 'Species', 'Weight', 'Height', 'Width', 'Length1',
       'Length2', 'Length3'],
      dtype='object')

In [8]:
y = fish['Weight']
x = fish[['Category', 'Weight', 'Height', 'Width', 'Length1',
       'Length2', 'Length3']]

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size=0.7,random_state = 2529)

In [11]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [12]:
model.fit(x_train,y_train)

LinearRegression()

In [13]:
y_pred = model.predict(x_test)

In [14]:
y_pred

array([ 500. ,  390. ,   85. ,  567. ,  130. ,  169. ,  290. ,  260. ,
        306. ,    9.8,    9.8,  320. ,  110. ,  820. ,  300. ,  197. ,
        600. ,  140. ,  430. ,   80. ,  120. ,   40. ,  345. ,  900. ,
        955. ,    7.5,  272. ,  850. ,  290. ,  650. ,  500. ,  500. ,
        300. ,  840. ,    7. , 1100. ,  900. ,   19.9,  180. ,  950. ,
        680. , 1000. ,  685. ,  700. ,  514. ,  218. ,  475. ,   19.7])

In [15]:
model.intercept_

-1.7053025658242404e-13

In [16]:
model.coef_

array([ 2.55651994e-14,  1.00000000e+00, -1.29757316e-15, -1.07873779e-14,
       -2.15695517e-14,  9.39179290e-15,  1.08663079e-14])

In [17]:
from sklearn.metrics import mean_absolute_error , r2_score

In [18]:
mean_absolute_error(y_test,y_pred)

4.072668128666616e-14

In [19]:
r2_score(y_test,y_pred)

1.0