<a href="https://colab.research.google.com/github/UdayDhanush/Projects_Data_Analytics/blob/main/project_5_purchase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
purchase = pd.read_csv('https://github.com/YBIFoundation/Dataset/raw/main/Customer%20Purchase.csv')

In [3]:
purchase.head()

   Customer ID  Age  Gender Education   Review Purchased
0         1021   30  Female    School  Average        No
1         1022   68  Female        UG     Poor        No
2         1023   70  Female        PG     Good        No
3         1024   72  Female        PG     Good        No
4         1025   16  Female        UG  Average        No

In [4]:
purchase.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Customer ID  50 non-null     int64
 1   Age          50 non-null     int64
 2   Gender       50 non-null     object
 3   Education    50 non-null     object
 4   Review       50 non-null     object
 5   Purchased    50 non-null     object
dtypes: int64(2), object(4)
memory usage: 2.5+ KB

In [5]:
purchase.describe()

       Customer ID        Age
count     50.00000  50.000000
mean    1045.50000  54.160000
std       14.57738  25.658161
min     1021.00000  15.000000
25%     1033.25000  30.250000
50%     1045.50000  57.000000
75%     1057.75000  74.000000
max     1070.00000  98.000000

In [6]:
purchase.columns

Index(['Customer ID', 'Age', 'Gender', 'Education', 'Review', 'Purchased'], dtype='object')

In [9]:
y = purchase['Purchased']
x = purchase.drop(['Purchased' ,'Customer ID'],axis = 1)

In [32]:
x.replace({'Review':{'Poor':0,'Average':1,'Good':2}},inplace=True)
x.replace({'Education':{'School':0,'UG':1,'PG':2}},inplace=True)
x.replace({'Gender':{'Male': 0,'Female':1}},inplace=True)

In [35]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size = 0.8,random_state = 2529)

In [36]:
x_train

    Age  Gender  Education  Review
6    18       0          0       2
1    68       1          1       0
12   51       0          0       0
5    31       1          0       1
26   53       1          2       0
29   83       1          1       1
16   59       0          1       0
34   86       0          0       1
44   77       1          1       1
14   15       0          2       0
17   22       1          1       0
9    74       0          1       2
31   22       1          0       0
30   73       0          1       1
4    16       1          1       1
3    72       1          2       2
18   19       0          0       2
33   89       1          2       2
10   98       1          1       2
39   76       0          2       0
2    70       1          2       2
35   74       0          0       0
28   48       0          0       0
27   69       1          2       0
22   18       1          2       0
47   38       1          2       2
7    60       1          0       0
49   25       1          1       2
13   57       1          0       1
37   94       0          2       1
40   39       0          0       2
23   96       1          0       2
25   57       1          0       2
43   27       0          2       0
21   32       0          2       1
24   16       1          2       1
8    65       1          1       1
36   34       1          1       2
15   75       0          1       0
32   92       0          1       1

In [37]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()

In [38]:
model.fit(x_train,y_train)

RandomForestClassifier()

In [40]:
y_pred = model.predict(x_test)

In [41]:
y_pred

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'Yes', 'No', 'No', 'Yes'],
      dtype=object)

In [43]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [46]:
confusion_matrix(y_test,y_pred)

array([[2, 1],
       [3, 4]])

In [47]:
accuracy_score(y_test,y_pred)

0.6

In [49]:
print (classification_report(y_test,y_pred))

              precision    recall  f1-score   support

          No       0.40      0.67      0.50         3
         Yes       0.80      0.57      0.67         7

    accuracy                           0.60        10
   macro avg       0.60      0.62      0.58        10
weighted avg       0.68      0.60      0.62        10