<a href="https://colab.research.google.com/github/UdayDhanush/Projects_Data_Analysis/blob/main/salary_example_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
salary = pd.read_csv('https://github.com/YBIFoundation/Dataset/raw/main/Salary%20Data.csv ')

In [3]:
salary.head()

   Experience Years  Salary
0               1.1   39343
1               1.2   42774
2               1.3   46205
3               1.5   37731
4               2.0   43525

In [4]:
salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Experience Years  40 non-null     float64
 1   Salary            40 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 768.0 bytes

In [5]:
salary.describe()

       Experience Years         Salary
count         40.000000      40.000000
mean           5.152500   74743.625000
std            2.663715   25947.122885
min            1.100000   37731.000000
25%            3.200000   56878.250000
50%            4.600000   64472.500000
75%            6.875000   95023.250000
max           10.500000  122391.000000

In [6]:
salary.columns

Index(['Experience Years', 'Salary'], dtype='object')

In [7]:
salary.shape

(40, 2)

In [9]:
y = salary['Salary']
x = salary[['Experience Years']]

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size=0.7,random_state=2529)

In [12]:
x_train

    Experience Years
28               6.5
31               7.9
34               8.7
20               4.7
4                2.0
3                1.5
18               4.3
26               6.0
2                1.3
22               5.1
35               9.0
7                2.9
39              10.5
30               7.1
10               3.2
0                1.1
9                3.2
13               3.8
5                2.2
37               9.6
23               5.3
25               5.9
21               4.9
24               5.5
8                3.0
36               9.5
15               4.0
32               8.2

In [13]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [14]:
model.fit(x_train,y_train)

LinearRegression()

In [15]:
model.intercept_

26596.961311068262

In [16]:
model.coef_

array([9405.61663234])

In [23]:
y_pred = model.predict(x_test)

In [19]:
x_test

    Experience Years
29               6.8
11               3.5
33               8.5
16               4.0
19               4.5
38              10.3
27               6.2
14               3.9
17               4.1
12               3.7
1                1.2
6                2.5

In [24]:
from sklearn.metrics import mean_absolute_percentage_error
mean_absolute_percentage_error(y_test,y_pred)

0.06384602996141632